# figures can be easily generated on the client side and are not tracked
*.pdf

# jags model files are generated on-the-fly by R scripts
*.jags

# some binary files can be generated easily, so no need to track
*.rdata

# others are computationally expensive, and should be tracked
!results/integratedModel.rdata
!results/predictions.rdata

*.history